################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/debug
/release
/x64/Debug
/2dpainting.vcxproj.user
/2dpainting.vcxproj.filters
